<section >
    <div class="container ">
        

    
        <div class="row">
            <div class="col-6 ">
                <h1>         your applications through offers</h1>
        <div *ngFor="let l of ListRequest " class="row justify-content-start"  >
            <div class="col-12 ">
                <!-- single-job-content -->
                <div class="single-job-items mb-20">
                    <div class="job-items" >
                        <div class="company-img">
                            <img src="{{l.entreprise?.logUrl}}" alt=""  class="rounded-circle img-fluid" style="width: 70px">

                        </div>
                        <div class="job-tittle">
                            <span *ngIf="!l.status" class="badge badge-warning">Pending</span>
                            <span *ngIf="l.status" class="badge badge-success">Accepted</span>
                           
                                <p >
                                    <b *ngFor="let tech of l.offer.technologies"class="badge">{{tech}}</b>


                                </p>
                                <p> {{l.offer.subject|slice:0:30}} ...</p>
                            
                            

                            <span>from {{l.offer.begin_date}} to {{l.offer.end_date}}</span>
                            <ul>
                                <br>
                                <li><i class="fas fa-map-marker-alt"></i>Tunis, Tunisia</li>
                                

                            </ul>
                        </div>
                    </div>
                    <div class="items-link f-right">
                        <a >{{l.offer.type}}</a>
                        
                        <div>
                            <div style="margin-top: 20%;">
                                <a><i style="color:red; " class="fa fa-trash"></i></a>
                                
                            </div>
                            <div style="margin-top: 20%;" >
                                <a><i style="color:green; " class="fa fa-edit"></i></a>
                                
                            </div>
                            
                        </div>

                    </div>

                </div>



            </div>

        </div>
        </div>
        <span class="vertical-line"></span>
        <div class="col-5 ">
            <h1>         your Direct Applications</h1>
        <div *ngFor="let l of Applications " class="row justify-content-end"  >
            <div class="col-12 ">
                <!-- single-job-content -->
                <div class="single-job-items mb-20">
                    <div class="job-items" >
                        <div class="company-img">
                            <img src="{{l.entreprise?.logUrl}}" alt=""  class="rounded-circle img-fluid" style="width: 70px">

                        </div>
                        <div class="job-tittle">
                            <span *ngIf="l.status=='PENDING'" class="badge badge-warning">Pending</span>
                            <span *ngIf="l.status=='ACCEPTED'" class="badge badge-success">Accepted</span>
                            <span *ngIf="l.status=='REJECTED'" class="badge badge-danger">Rejected</span>
                            <h2>{{l.entreprise?.name}}</h2>
                           
                            <ul>
                                <br>
                                <li><i class="fas fa-map-marker-alt"></i>Tunis, Tunisia</li>
                                

                            </ul>
                        </div>
                    </div>
                    <div class="items-link f-right">
                        <div>
                            <div style="margin-top: 20%;" (click)="deleteApplication(l.id)">
                                <a ><i style="color:red; " class="fa fa-trash"></i></a>
                                
                            </div>
                           
                            
                        </div>

                    </div>

                </div>



            </div>

        </div>
        </div>
    </div>
    </div>
</section>

